:root {
	--primary: #910811;
}

[data-theme='light'],
:root:not([data-theme='dark']) {
	--primary: #910811;
}

.hero {
	background-image: url('https://ik.imagekit.io/cpds/Agape_Christian/heroSM_gTV--RM5u.png?updatedAt=1688698892509');
	background-position: top;
	background-size: cover;
}

.headline {
	font-size: clamp(2.5rem, 5vw, 4rem);
	line-height: 1em;
}

@media (min-width: 641px) {
	.hero {
		background-image: url('https://ik.imagekit.io/cpds/Agape_Christian/HeroImageMd_7IJG72IBh.png?updatedAt=1688698892851');
	}
}
@media (min-width: 1025px) {
	.hero {
		background-image: url('https://ik.imagekit.io/cpds/Agape_Christian/herolg_Bq4Zx6fYD.png?updatedAt=1688698893156');
	}
}
