.image {
	object-position: right top;
}

.eyebrow {
	writing-mode: vertical-rl;
}

/* @container holder (width: 200px) {
	.eyebrow {
		visibility: hidden;
	}
} */

.parent {
	color: blue;

	& .child {
		color: red;
	}
}
