@unocss all;

:root {
	--primary: #910811;
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter-Regular'), url('/fonts/Inter-Regular.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter-Bold'), url('/fonts/Inter-Bold.woff2') format('woff2');
	font-display: swap;
}

/* html {
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: 'Inter', sans-serif;
	height: 100%;
} */

/* body {
	padding: 0;
	line-height: inherit;
	font-family: 'Inter', sans-serif;
	height: 100%;
} */

/* p {
	max-width: 75ch;
	margin-bottom: 1em;
} */

/* html::-webkit-scrollbar {
	display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
/* 
.customGrid {
	grid-template-columns: repeat(auto-fit, minmax(5em, 10em));
} */

/* .teacher-text {
	font-size: clamp(3.5rem, 10vw, 7rem);
	line-height: 1em;
} */
