@unoss;

:root {
	--primary: #910811;
}

@font-face {
	font-family: 'Inter';
	font-weight: 400;
	src: local('Inter-Regular'), url('/fonts/Inter-Regular.woff2') format('woff2');
	font-display: swap;
}
@font-face {
	font-family: 'Inter';
	font-weight: 500;
	src: local('Inter-Bold'), url('/fonts/Inter-Bold.woff2') format('woff2');
	font-display: swap;
}

html {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
